@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  color: #373737;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
  color: #373737;
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  font-size: 16px;
}

div, span, article, nav, section, main, header {
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  max-width: 320px;
  padding: 10px 15px;
}

textarea {
  resize: none;
  max-width: 320px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 100px;
  padding: 10px 15px;
}

input[type="text"], input[type="tel"], input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 10px 15px;
  width: 100%;
  max-width: 320px;
}

input[type="submit"], button {
  cursor: pointer;
}

input:focus, textarea:focus, select:focus, button:focus, select:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 14px;
  width: 14px;
  background-color: #fff;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="checkbox"]:checked::after {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/icons/checkbox.svg);
  -webkit-background-size: cover;
          background-size: cover;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 14px;
  width: 14px;
  background-color: #fff;
  position: relative;
  margin-top: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

input[type="radio"]:checked::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background-color: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/icons/checkbox.svg);
  -webkit-background-size: cover;
          background-size: cover;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
  position: relative;
}

select::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  background-color: #000;
  top: 10px;
  right: 10px;
}

section, footer {
  padding-top: 20px;
  padding-bottom: 2;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hide {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.select {
  display: block;
  max-width: 320px;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  z-index: 2;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: blue;
}

.new-select:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 9px;
  top: 13px;
  background: url("../img/icons/select.svg") no-repeat right center/cover;
  opacity: 0.6;
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button {
  font-family: "PT Sans", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.button-cats {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 21px;
          border-radius: 21px;
  font-size: 18px;
  padding: 10px 35px 12px 15px;
  position: relative;
}

.button-cats::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  background-image: url(../img/icons/arr-cats.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center center;
}

.button-offer {
  border: 2px solid #004A2B;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 20px;
}

h2.title {
  font-size: 28px;
  color: #004A2B;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 35px;
}

body {
  padding-top: 100px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  z-index: 50;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-catalog {
  background-color: #004A2B;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #fff;
  padding: 12px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.header-catalog .burger {
  margin-right: 25px;
  width: 20px;
  height: 20px;
  position: relative;
}

.header-catalog .burger span {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 25px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-catalog .burger span:nth-child(2) {
  top: 9px;
}

.header-catalog .burger span:nth-child(3) {
  top: 18px;
}

.header-catalog-active .burger span {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-catalog-active .burger span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0px;
  top: 9px;
}

.header-catalog-active .burger span:nth-child(2) {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 0px;
  top: 9px;
}

.header-catalog-active .burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0px;
  top: 9px;
}

.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav-menu li {
  margin: 0 15px;
}

.header-nav-menu li a {
  font-size: 15px;
}

.header-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icons-item {
  height: 23px;
  width: 23px;
  margin: 0 12px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
          background-size: contain;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header-icons-item:last-child {
  margin-right: 0;
}

.header-icons .icon-search {
  background-image: url(../img/icons/search.svg);
}

.header-icons .icon-login {
  background-image: url(../img/icons/login.svg);
}

.header-icons .icon-like {
  background-image: url(../img/icons/like.svg);
}

.header-icons .icon-cart {
  background-image: url(../img/icons/cart.svg);
  position: relative;
}

.header-icons .icon-cart span {
  position: absolute;
  right: -7px;
  top: -7px;
  font-size: 10px;
  color: #373737;
}

.offer {
  background-image: url(../img/header-mob.jpg);
}

@media (min-width: 768px) {
  .offer {
    background-image: url(../img/header.jpg);
  }
}

.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 150px 100px 170px 100px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  max-width: 1170px;
}

.offer h1 {
  font-size: 48px;
  max-width: 430px;
  margin-bottom: 15px;
  color: #004A2B;
  font-family: "Playfair Display", serif, sans-serif;
}

.offer p {
  color: #004A2B;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
}

.header-down {
  position: absolute;
  left: 0;
  top: -webkit-calc(100% + 15px);
  top: calc(100% + 15px);
  background-color: #fff;
  z-index: 50;
  padding: 40px 60px;
  border: 1px solid #ECECEC;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  max-width: -webkit-calc(100vw - 30px);
  max-width: calc(100vw - 30px);
  display: none;
  opacity: 1;
}

.header-down .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header-down-item {
  color: #373737;
  margin-right: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header-down-item ul li a {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.header-down-item b {
  margin-bottom: 20px;
  font-size: 18px;
  display: block;
}

.header-down-item:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  body {
    padding-top: 80px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-logo {
    max-width: 150px;
  }
  .header-nav-menu li {
    margin: 0;
  }
  .header-nav-menu li a {
    font-size: 14px;
    margin: 0 7px;
  }
  .offer {
    max-width: 930px;
  }
}

@media (max-width: 992px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .header-nav {
    position: fixed;
    top: -webkit-calc(100% + -1px);
    top: calc(100% + -1px);
    left: 60px;
    display: none;
    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 25px;
  }
  .header-nav ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav::after {
    width: 120vw;
    content: '';
    position: absolute;
    bottom: 3px;
    left: -65px;
    background-color: #ECECEC;
    height: 1px;
  }
  .header-nav::before {
    width: 120vw;
    content: '';
    position: absolute;
    top: 0px;
    left: -65px;
    background-color: #ECECEC;
    height: 1px;
  }
  .header-nav ul li a {
    margin-left: 0;
    margin-right: 20px;
  }
  .header-down {
    -webkit-border-radius: 0;
            border-radius: 0;
    position: fixed;
    border: 1px solid #fff;
    padding-right: 100px;
    top: -webkit-calc(100% + -3px);
    top: calc(100% + -3px);
    width: 100vw;
    max-width: 100vw;
    height: -webkit-calc(100vh + 100px);
    height: calc(100vh + 100px);
    border-bottom: 1px solid #ECECEC;
    padding-top: 55px;
    padding-bottom: 170px;
  }
  .header-down ul li a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .header-down .wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .header-down div:nth-child(2) {
    display: block !important;
  }
  .header-down a {
    font-size: 14px;
  }
  .header-down b {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .header-logo {
    margin-left: 60px;
    margin-top: 3px;
  }
  .header .container {
    max-width: 100%;
  }
  .header-catalog {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header-catalog .burger {
    margin: 0;
  }
  .header-catalog .burger span {
    background-color: #004A2B;
  }
  .header-catalog div:nth-child(2) {
    display: none;
  }
  .bb {
    border-bottom: none;
  }
  .offer {
    max-width: -webkit-calc(740px - 30px);
    max-width: calc(740px - 30px);
    background-position: -130px 0;
  }
  body {
    padding-top: 63px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    left: 15px;
  }
  .header-down {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-down-item {
    margin-right: 20px;
  }
  .offer {
    max-width: -webkit-calc(540px - 30px);
    max-width: calc(540px - 30px);
    -webkit-background-size: cover;
            background-size: cover;
    padding: 50px 40px;
    background-position: center;
    padding-bottom: 370px;
  }
}

@media (max-width: 578px) {
  .offer {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
    padding: 25px 25px;
    padding-bottom: 240px;
  }
  .offer h1 {
    font-size: 32px;
  }
  .offer p {
    font-size: 20px;
  }
}

@media (max-width: 440px) {
  .header-down {
    overflow-y: auto;
  }
  .header-down .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-down-item {
    margin-bottom: 5px;
  }
  .header-nav {
    padding-top: 15px;
  }
  .header-nav::after {
    bottom: 0;
  }
  .header-nav ul li a {
    font-size: 12px;
    margin-right: 10px;
  }
  .header-catalog {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-icons-item {
    margin-right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
  .header-icons-item img {
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
  }
  .header-logo {
    margin-left: 40px;
  }
  .header-logo img {
    max-width: 130px;
  }
}

@media (max-width: 370px) {
  .offer h1 {
    font-size: 24px;
  }
  .offer p {
    font-size: 18px;
  }
}

@media (max-width: 340px) {
  .header-nav ul li a {
    margin-right: 8px;
  }
  .header-icons-item {
    margin-left: 10px;
  }
  .header-logo img {
    max-width: 125px;
  }
}
